@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #141519;
}

.rating-container{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s linear;
}

img{
    width: 15px;
    height: 15px;

}

.star{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #253036;
    width: 35px;
    height: 35px;
    margin-bottom: 30px;
   
}

.container-one{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
    height: 412px;
    background-color: #212832;
    border-radius: 20px;
}

.title{
    color: #feffff;
    margin-bottom: 17px;
    font-family: 'Overpass';
    font-weight: 700;
    font-size: 25px;
    

}

.rating-description {
    font-size: 14px;
    font-family: 'Overpass';
    font-weight: 400;
    line-height: 28px;
    color: #818791;
    margin-bottom: 17px;

}

.rating-number{
    list-style: none;
    display: flex;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    

}




.number{
    color: #7c858e;
    font-size: 15px;
    font-family: 'Overpass';
    font-weight: 400;
    background-color: #262f38;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 4px;
    margin-bottom: 18px;


}


.number:hover{
    color: white;
    font-size: 15px;
    font-family: 'Overpass';
    font-weight: 400;
    background-color: #fc7613;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.number.selected {
    color: white;
    background-color: #7b8797;
}


button{
    border-radius: 20px;
    height: 47px;
    font-size: 17px;
    font-family: 'Overpass';
    font-weight: 400;
    letter-spacing: 1px;
    border-style: none;
    background-color: #fc7613;
    cursor: pointer;
    padding-top: 2px;
    color: white;
}

button:hover{
    border-radius: 20px;
    height: 47px;
    font-size: 17px;
    font-family: 'Overpass';
    font-weight: 400;
    letter-spacing: 1px;
    border-style: none;
    background-color: white;
    cursor: pointer;
    padding-top: 2px;
    color: #fc7613;
    transition: 0.1s linear;
}

.thanks-container{
    
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 1s linear;
}

.container-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 400px;
    height: 412px;
    background-color: #212832;
    border-radius: 20px;

}

.phone{
    width: 170px;
    height: 110px;
    margin-bottom: 12px;
    margin-top: 12px;

}

.description-selection{
    font-size: 15px;
    font-family: 'Overpass';
    font-weight: 700;
    margin: 17px 0px;
    color: #c37c52;
    background-color: #262f38;
    height: 30px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 4px;
    margin-bottom: 28px;


    
    

}

.thanks-description {
    font-size: 14px;
    font-family: 'Overpass';
    font-weight: 400;
    line-height: 25px;
    color: #818791;
    text-align: center;
}